body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.slide {
    display: none;
}

img {
    width: 100%;
    height: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}